tmp/
.vscode/

cmd/kycaml-sdn-json/kycaml-sdn-json
cmd/kycaml-cons-json/kycaml-cons-json
cmd/kycaml-dl/kycaml-dl
cmd/kycaml-dm/kycaml-dm
cmd/kycaml-h/kycaml-h
cmd/kycaml-j/kycaml-j
cmd/kycaml-jw/kycaml-jw
cmd/kycaml-l/kycaml-l
cmd/kycaml-lcs/kycaml-lcs
cmd/kycaml-n/kycaml-n
cmd/kycaml-o/kycaml-o
cmd/kycaml-p/kycaml-p
cmd/kycaml-s/kycaml-s
cmd/kycaml-sw/kycaml-sw

static/*.xml
static/*.json

docs/sdn.json
docs/sdn.xml

public/sdn.json
public/sdn.xml

.github/workflows/go.yml

*.upx

go.sum
kycaml-app
