# Copyright (C) 2021  Jeremy Carter <jeremy@jeremycarter.ca>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

tmp/
.vscode/

cmd/kycaml-sdn-json/kycaml-sdn-json
cmd/kycaml-cons-json/kycaml-cons-json
cmd/kycaml-dl/kycaml-dl
cmd/kycaml-dm/kycaml-dm
cmd/kycaml-h/kycaml-h
cmd/kycaml-j/kycaml-j
cmd/kycaml-jw/kycaml-jw
cmd/kycaml-l/kycaml-l
cmd/kycaml-lcs/kycaml-lcs
cmd/kycaml-n/kycaml-n
cmd/kycaml-o/kycaml-o
cmd/kycaml-p/kycaml-p
cmd/kycaml-s/kycaml-s
cmd/kycaml-sw/kycaml-sw

static/*.xml
static/*.json

docs/sdn.json
docs/sdn.xml

public/sdn.json
public/sdn.xml

*.upx

go.sum
kycaml-app
