tmp/
.vscode/

cmd/kycaml-dl/kycaml-dl
cmd/kycaml-dm/kycaml-dm
cmd/kycaml-h/kycaml-h
cmd/kycaml-j/kycaml-j
cmd/kycaml-json/kycaml-json
cmd/kycaml-jw/kycaml-jw
cmd/kycaml-l/kycaml-l
cmd/kycaml-lcs/kycaml-lcs
cmd/kycaml-n/kycaml-n
cmd/kycaml-o/kycaml-o

static/*.xml
static/*.json

go.sum
kycaml-app
